.box-modal {
    width: 373px;
    height: 567px;
    border-radius: 20px;
    background-color: #363636;
    margin-bottom: 80px;
}

.box-modal p {
    width: 80%;
}

.box-link {
    width: 100%;
    margin-bottom: 15px;
}