.menu-header {
    display: none;
}

#basic-button {
    color: white;
    list-style: none;
    margin-right: 25px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    cursor: pointer;
}

#basic-button:hover {
    background-clip: border-box;
    border-image: linear-gradient(to right, #E70FAA, #00C0FD) 1;
    background: linear-gradient(90deg, #13B0F5 -2.06%, #E70FAA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-timing-function: ease-in-out;
}